<main id="productGrid">
  <div class="container px-0">
    <div class="row no-gutters">
      <div class="col-12 col-lg-2 p-2">
        <div class="navbar-collapse collapse filter-field border rounded" id="filterList">
          <form id="form" method="get">
            <div class="bg-white p-3">
              <span class="head">Sort By</span>
              <div class='sort mb-4 form-group'>
                <select class="form-select p-0" id="sort" name="sort" style="border:1px solid #ccc !important;">
                  <option selected value="">Relevancy</option>
                  <option name="LH" value='LH'>Price(Low to High)</option>
                  <option name="HL" value='HL'>Price(High to Low)</option>
                  <option name="AZ" value='AZ'>Brand(A to Z)</option>
                  <option name="ZA" value='ZA'>Brand(Z to A)</option>
                </select>
              </div>
              <p class="head">Filter By</p>
              <div class="brand mt-2">
                <p class="head">Brand</p>
                <div class="filter overflow-auto" id="brand-list"
                  style="max-height:7rem; border-bottom: 1px solid #e3e3e3;">
                  <ul class="p-0 list-unstyled brands">
                    {{#each products}}
                    {{#if listed}}
                    <li><input name="brand" type='radio' value="{{{brand}}}" /> {{{brand}}}</li>
                    {{/if}}
                    {{/each}}
                  </ul>
                </div>
              </div>
              <div class="promotion mt-2">
                <p class="head">Promotion</p>
                <div class='filter rounded'>
                  <ul class="p-0 list-unstyled">
                    <li><input name="promotion" type='radio' value="Featured" /> Featured</li>
                    <li><input name="promotion" type='radio' value="New Arrival" /> New Arrival</li>
                    <li><input name="promotion" type='radio' value="Best Seller" /> Best Seller</li>
                    <li><input name="promotion" type='radio' value="Popular Product" /> Popular Product</li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col" id="results">
        <div class="container">
          <div class="row mt-4">
            {{#if category}}
            <h4>{{{category}}}</h4>
            {{else if search}}
            <h4>Results for '{{{search}}}'</h4>
            {{/if}}
          </div>
          <div class="row g-0 row-cols-2 row-cols-xs-1 row-cols-md-3 row-cols-lg-4" id="productSection">
            {{#each products}}
            {{#if listed}}
            <div class="product-card col">
              <a href="/product/{{{id}}}" class="text-dark">
                <div class="card border-0">
                  <div class="productImage"><img class="card-img-top p-4" src="/uploads/{{{imageName}}}" alt="Product Image"></img></div>
                  <div class="card-body">
                    <p class="card-title p m-0">{{{brand}}}</p>
                    <p class="card-text mb-0">{{{name}}}</p>
                    <p class="card-text py-4">${{{price}}}</p>
                    {{#if hasVariant}}
                    <a href="/product/{{{id}}}" class="btn btn-primary"><i class="bi bi-list-ul"></i> Select variant</a>
                    {{else}}
                    <a href="" class="btn btn-primary"><i class="bi bi-cart-plus"></i> Add to cart</a>
                    {{/if}}
                  </div>
                </div>
              </a>
            </div>
            {{/if}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
</main>
<script>
  function update() {
      var filters = {};
      filters.sort = document.getElementById("sort").value;
      document.querySelectorAll("input[type='radio'][name='promotion']").forEach(c => {
        if (c.checked) {
          filters.promotion = c.value;
        }
      })
      document.querySelectorAll("input[type='radio'][name='brand']").forEach(c => {
        if (c.checked) {
          filters.brand = c.value
        }
      })
      if (new URLSearchParams(window.location.search).get('q') != null) {
        filters.search = new URLSearchParams(window.location.search).get('q');
      }
      fetch("http://localhost:5000/search/products", {
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          method: "POST",
          body: JSON.stringify(filters)
      })
      .then(response => response.json())
      .then(response => {
        document.getElementById("productSection").innerHTML = "";
        var products = "";
        response.forEach(product => {
          if (product.listed) {
            products += `
            <div class="product-card col">
              <a href="/product/${product.id}" class="text-dark">
                <div class="card border-0">
                  <div class="productImage"><img class="card-img-top p-4" src="/uploads/${product.imageName}" alt="Product Image"></img></div>
                  <div class="card-body">
                    <p class="card-title p m-0">${product.brand}</p>
                    <p class="card-text mb-0">${product.name}</p>
                    <p class="card-text py-4">$${product.price}</p>
          `
          if (product.hasVariant) {
            products += `
            <a href="/product/${product.id}" class="btn btn-primary"><i class="bi bi-list-ul"></i> Select variant</a>
            </div>
                </div>
              </a>
            </div>
            `
          } else {
            products += `
            <a href="" class="btn btn-primary"><i class="bi bi-cart-plus"></i> Add to cart</a>
            </div>
                </div>
              </a>
            </div>
            `
          }
          }
        })
        document.getElementById("productSection").innerHTML = products;
      });
    }

  document.addEventListener('DOMContentLoaded', function() {
    update();
    var filterToggle = document.getElementsByClassName("filter-toggle")[0];
    filterToggle.classList.remove("d-none");

    var radio = document.querySelectorAll("input[type='radio']");
    var sort = document.getElementById("sort");
    radio.forEach(c => {
      c.addEventListener("click", update);
    })
    sort.addEventListener("change", update);
  });
</script>